html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #002244;
}

.player {
  height: 270px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3em;
  border-radius: 15px;
  width: 350px;
  background: rgb(2,117,216);
  background: linear-gradient(180deg, rgba(2,117,216,1) 6%, rgba(0,45,91,1) 99%);
  text-align: center;
}

#audio-canvas {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  z-index: -1;
}


.player__audio {
  margin-top: 20px;
  z-index: 1
}

.player__img {
  width: 250px;
}